<!-- Copyright -->
<div class="copyright bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p class="p-small">Copyright © <a href="#your-link">Anagh</a></p>
      </div>
    </div>
  </div>
</div>

<!-- end of copyright -->

<!-- Scripts -->
<script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
<script src="js/jquery.min.js"></script>

<script src="js/bootstrap.min.js"></script>

<script src="js/jquery.easing.min.js"></script>

<script src="js/morphext.min.js"></script>

<script src="js/scripts.js"></script>
