<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta
    name="description"
    content="Anagh is a portfolio website for designing a beautiful and efficient websites, most loved designed , and offered services"
  />
  <meta name="Anagh Kumar" content="Portfolio" />
  <meta property="og:description" content="Anagh Portfolio" />

  <title>Anagh Portfolio</title>

  <link
    rel="stylesheet"
    type="text/css"
    href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link rel="stylesheet" type="text/css" href="css/blogSingle.css" />

  <link href="css/bootstrap.css" type="text/css" rel="stylesheet" />
  <link href="css/fontawesome-all.css" type="text/css" rel="stylesheet" />
  <link href="css/styles.css" type="text/css" rel="stylesheet" />

  <link rel="icon" href="images/p.png" />
</head>
