<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header'); -%>
  <body>
    <%- include('../components/navbar'); -%>

    <!-- About -->
    <div id="about" class="basic-1">
      <div class="container">
        <div class="row class-container">
          <div class="col-lg-12">
            <h2 class="h2-heading">Few words about me</h2>
            <p class="p-large textmedium">
              Hi, I’m Anagh . Nice to meet you. Since beginning my journey as a
              freelance developer nearly 1 years ago, I've done remote work for
              agencies, consulted for startups, and collaborated with talented
              people to create digital products for both business and consumer
              use. I'm quietly confident, naturally curious, and perpetually
              working on improving my chops one design problem at a time.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="image-container">
              <img class="img-fluid" src="images/about.jpg" alt="alternative" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end of About-->
  </body>
</html>

<%- include('../partials/foot'); -%>
