<!-- Header -->
<header class="header">
  <div class="area-1">
    <div class="text-container">
      <h1 class="h1-large">
        Hi I am Anagh and I
        <span id="js-rotating"> Design , Develop , Code </span>
      </h1>
      <p class="p-large textmedium">
        Below you will find a few details about my life, skills, and my work in
        Coding , devlopment and designing
      </p>
      <a class="btn-solid-lg page-scroll" href="#">Resume</a>
    </div>
  </div>
  <div class="area-2"></div>
</header>


<!-- end of header -->
