<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header'); -%>
  <body>
    <%- include('../components/navbar'); -%>
    <!---Projects--->
    <main id="work">
      <h1 class="lg-heading">
        My
        <span class="text-secondary">Work</span>
      </h1>
      <h2 class="sm-heading">Check out some of my projects...</h2>
      <div class="projects">
        <div class="item">
          <a
            href="https://whispering-escarpment-33999.herokuapp.com/"
            target="_blank"
          >
            <img src="./images/projects/project1.jpg" alt="Project" />
          </a>
          <a
            href="https://whispering-escarpment-33999.herokuapp.com/"
            target="_blank"
            class="btn-light"
          >
            <i class="fas fa-eye"></i> DevConnect
          </a>
        </div>
        <div class="item">
          <a
            href="https://anagh9.github.io/FrontEnd-Projects/sortingproject/temp.html"
            target="_blank"
          >
            <img src="images/projects/project2.jpg" alt="Project" />
          </a>
          <a
            href="https://anagh9.github.io/FrontEnd-Projects/sortingproject/temp.html"
            target="_blank"
            class="btn-light"
          >
            <i class="fas fa-eye"></i> Sorting Visualizer
          </a>
        </div>
        <div class="item">
          <a
            href="https://anagh9.github.io/FrontEnd-Projects/sortingproject/temp.html"
            target="_blank"
          >
            <img src="images/projects/project3.jpg" alt="Project" />
          </a>
          <a
            href="https://anagh9.github.io/FrontEnd-Projects/sortingproject/temp.html"
            target="_blank"
            class="btn-light"
          >
            <i class="fas fa-eye"></i> Natours Tour and Travel
          </a>
        </div>
        <div class="item">
          <a
            href="https://anagh9.github.io/FrontEnd-Projects/Nexter/index.html"
            target="_blank"
          >
            <img src="images/projects/project4.jpg" alt="Project" />
          </a>
          <a
            href="https://anagh9.github.io/FrontEnd-Projects/Nexter/index.html"
            target="_blank"
            class="btn-light"
          >
            <i class="fas fa-eye"></i> Real State Website
          </a>
        </div>
        <div class="item">
          <a href="#">
            <img src="./images/projects/project6.jpg" alt="Project" />
          </a>
          <a
            href="https://anagh9.github.io/CodeDaily/JavaScript/PigGame/index.html"
            class="btn-light"
          >
            <i class="fas fa-eye"></i> Dice Game</a
          >
        </div>
        <div class="item">
          <a href="#">
            <img src="./images/projects/project8.jpg" alt="Project" />
          </a>
          <a
            href="https://musing-pike-89d0f4.netlify.app/"
            target="_blank"
            class="btn-light"
          >
            <i class="fas fa-eye"></i> Recipe App
          </a>
        </div>
        <div class="item">
          <a href="#">
            <img src="./images/projects/project7.jpg" alt="Project" />
          </a>
          <a
            href="https://relaxed-visvesvaraya-f4c3a9.netlify.app/"
            target="_blank"
            class="btn-light"
          >
            <i class="fas fa-eye"></i> Photo Gallery</a
          >
        </div>
      </div>
    </main>
    <!---End of Projects--->
  </body>
</html>
<%- include('../partials/foot'); -%>
