<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header'); -%>
  <body>
    <%- include('../components/navbar'); -%>

    <!-- Services -->
    <div class="skills" id="services">
      <h2 class="h2-heading skills_h2">Offered Services</h2>
      <div class="row">
        <div class="col-1-of-4">
          <div class="box">
            <i class="box_item_icon fas fa-file-code"></i>

            <h3 class="heading-tertiary">Full Stack Developer</h3>

            <p class="box_text textmedium">
              I like to code things from scratch, and enjoy bringing ideas to
              life in the browser.
            </p>

            <div class="continer">
              <b> Tech Stack :</b> HTML, CSS, ReactJs , NodeJs , ExpressJs ,
              JavaScript , Python , SCSS , MongoDb , MySql
            </div>
          </div>
        </div>

        <div class="col-1-of-4">
          <div class="box">
            <i class="box_item_icon fas fa-ruler-vertical"></i>

            <h3 class="heading-tertiary">Designer</h3>

            <p class="box_text textmedium">
              I value simple content structure, clean design patterns, and
              thoughtful interactions.
            </p>
            <div class="continer">
              <b> Things I enjoy designing : </b> UX , UI, Web, Mobile, Apps,
              Logos
            </div>
          </div>
        </div>

        <div class="col-1-of-4">
          <div class="box">
            <i class="box_item_icon fas fa-cart-plus"></i>

            <h3 class="heading-tertiary">eCommerce Solution</h3>

            <p class="box_text textmedium">
              An eCommerce solution is a feature-filled and shopping cart that
              will be directly integrated into your website.
            </p>

            <div class="continer">
              <b> Speciality : </b> Payment gateways ,WooCommerce
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-1-of-4">
          <div class="box">
            <i class="box_item_icon fas fa-keyboard"></i>

            <h3 class="heading-tertiary">Tech writing services</h3>

            <p class="box_text textmedium">
              You've built a software product and now you need to create your
              documentation? I am here to help with that
            </p>
          </div>
        </div>

        <div class="col-1-of-4">
          <div class="box">
            <i class="box_item_icon fas fa-photo-video"></i>

            <h3 class="heading-tertiary">Teaching videos</h3>

            <p class="box_text textmedium">
              The easiest way to help someone learn how to use your product is
              with video tutorials. I can create them for you
            </p>
          </div>
        </div>

        <div class="col-1-of-4">
          <div class="box">
            <i class="box_item_icon fas fa-users"></i>

            <h3 class="heading-tertiary">Conference speaking</h3>

            <p class="box_text textmedium">
              I can speak at your conference about writing, teaching and how to
              create a successful business based on skills
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- end of services -->
  </body>
</html>
<%- include('../partials/foot'); -%>
